.footerMain {
  width: 100vw;
  height: 50vh;
  margin-top: 10vh;
  background-color: lightgrey;
}
.footer1 {
  float: left;
  width: 20vw;
  margin: 1vw;
  color: white;
  font-size: 1.2vw;
}
.list {
  cursor: pointer;
  list-style-type: none;

}
.list:hover {
  text-decoration: underline;
  text-decoration-color: red;
  text-transform: uppercase;
}
.footer2 {
  float: right;
  width: 20vw;
  margin: 1vw;
  color: white;
  font-size: 1.2vw;
}
.list2 {
  cursor: pointer;
  list-style-type: none;
}
.list2:hover {
  text-decoration: underline;
  text-decoration-color: red;
  text-transform: uppercase;
}
